<tr>
  <th scope="row"><%= post.id %></th>
  <td><%= post.title %></td>
  <td>
    <%= link_to "詳細", post %>
    <%= link_to "編集", edit_post_path(post) %>
    <%= link_to "削除", post, data: { turbo_method: :delete, turbo_confirm: "削除してよろしいですか？" } %>
  </td>
</tr>